* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  body {
    background: #222;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh; /* vh - 1% окна браузера. Было 100, стало 50, отступ большой слишком был */
  }
  
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 2;
  }
  
  section .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px #12121280;
    border-radius: 15px;
    background: #ffffff1b;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    backdrop-filter: blur(5px);
  }
  
  section .card .item {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
  }
  
  section .card:hover .item {
    transform: translateY(0px);
    opacity: 1;
  }
  
  section .card .item h1 {
    position: absolute;
    top: -80px;
    right: 20px;
    font-size: 8em;
    pointer-events: none;
    color: #ffffff0d;
  }
  
  section .card .item h2 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
  }
  
  section .card .item p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
  }
  
  .footer::before {
    margin-bottom: 10px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    margin: auto 0;
    padding: 5px;
    background-color: #012847;
    color: #fff;
    z-index: 6;
    width: 100%;
    text-align: center;
    opacity: 0.7;
  }
  
  .giga-ttl {
    font-size: 72px;
    color: #fff;
    text-weight: bold;
    text-align: center;
    text-decoration: underline;
    z-index: 3;
  }
    
  .main-ttl {
    font-size: 48px;
    color: #fff;
    text-weight: bold;
    text-align: center;
  }
  
  .ttl {
    font-size: 36px;
    color: #fff;
    text-weight: bold;
    text-align: center;
  }
  
  .disp-bl {
    display: block;
  }

  .i {
    font-style: italic;
  }

  .basic {
    font-size: 24px;
    color: #fff;
    text-align: center;
  }

  .icon {
    height: 150px;
    opacity: 0.5;
    border-radius: 20px;
  }
